@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family: idroid;
    src: url('fonts/idroid.otf') format('opentype');
}

:root {
    --bovisky: white;
}



body {
    background-image: linear-gradient(to right, #36a869, #3DDC84);
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 450;
}

header {
    font-family: 'Bebas Neue', cursive;
    background-image: linear-gradient(to top, #063D1E, #069748e0);
    text-align: center;
    padding: 2vw;
    margin: 0px;
    color: rgb(233, 233, 233);
    text-shadow: 1px 1px  10px rgba(0, 0, 0, 0.692);
}

a {
    color: #063D1E;
    font-weight: 700;
    text-decoration: none;
}



nav {
    font-family: 'Bebas Neue', cursive;
    background: #83E1AD;
    padding: 0.3vw;
    margin: 0.5vw 0vw 2vw 0vw;
    text-align: center;

}

nav > a {
    text-decoration: none;
    color: #063D1E;
    margin: 2vw;
    padding: 0.3vw;
}

nav > a:hover {
    background-color: #1bc063bb;
    transition-duration: 0.2s;
    border-radius: 2px;
}

.initmenu {
    margin: 0px;
    padding: 0px;
    background-color: #C583A2;

}

.initmenu > a {
    color: #F0D4B5;
    font-weight: 350;
}

main {
    min-width: 400px;
    max-width: 800px;
    padding: 15px;
    width: 50vw;
    background-color: var(--bovisky);
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.445);
}

article > p {
    text-indent: 1.5em;
    text-align: justify;
    line-height: 1.3em;
}

h2 {
    font-family: idroid;
    color: #063D1E
}

.dan-droids {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.irina-blok {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.bugdroid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

aside {
    text-indent: 1.5em;
    padding: 5px;
    text-align: justify;
    background-color: #a3e6c1;
    border-radius: 10px;
    text-align: justify;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.726);
}

aside > p {
    padding: 5px;
}

aside > h2 {
    background-color: #2FA866;
    margin: -5px -5px 0 -5px;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    columns: 2;
    list-style-type: '\2714';
}


.share {
    margin-left: 2px;
}

footer {
    background-color: #063D1E;
    min-width: 400px;
    max-width: 800px;
    padding: 3px;
    width: 50vw;
    margin: auto;
    border-radius: 1px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.445);
}

footer > small > a {
    color: white;
    text-decoration: underline;
    font-weight: 500;
}

div.video {
    background-color: #2FA866;
    margin: 0px -15px 30px -15px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}


.video > iframe {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 80%;
    height: 80%;
}

@media only screen and (max-width: 600px) {

    .dan-droids {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    

    .irina-blok {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .bugdroid {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    
    }
    

    aside > ul {
        columns: 1;
    }
}



